<table style="width: 100%;" cellpadding = "50">
  <tbody>
  <tr>
  <td align="center"><h3>
    Hola, mi nombre es Gilberto Solís Horst y soy un FullStack developer. Vivo en Toluca (muy cerca de la FMF).
    </h3></td>
  </tr>
  <tr>
    <td align="center"><h3>
      Este es mi ejercicio acerca de la implementación de StarWars API para la Federación Mexicana de Fútbol Asociación, A.C.
      </h3></td>
    </tr>
    <tr>
      <td align="center"><h3>
        Si quieres conocer mejor mi perfil haz click <a href="http://gilbertosolis.com" target="_blank">aqui</a>
        </h3></td>
      </tr>
      <tr>
  <td align="center"><h3><b>Todos los puntos especificados para el ejercicio se cumplieron.</b></h3>
  </tr>
  <tr>
    <td align="center"><h3>Adicionalmente para el endpoint de "Personaje" donde el objetivo es retornar la información obtenida del personaje solicitado a través de poner el personaje en la url (ejemplo: personaje/luke), se hizo de tal forma que se puede buscar cualquier cadena. Esto es, si en la URL pongo personaje/lu la aplicación mandará una consulta de todos aquellos personajes que tengan la cadena "lu" en su nombre (en este caso son 2: Luke Skywalker y Luminara Unduli) y los mostrará en el grid pudiendo ordenar, filtrar, etc.</h3></td>
  </tr>
  <tr>
  <td align="center"><h1><u>
    Agradezco la oportunidad y en espera de verme favorecido con su elección les envío un cordial saludo</u>
    </h1></td>
  </tr>
  </tbody>
  </table>